.vscode/
.DS_Store
vendor/
dist/
# delve debug binaries
cmd/**/debug
hack/**/debug
debug.test
*.iml
.coverage
*.out
test/*.cov
site/
/go-diagrams/
*.idea/

#client code for local testing only
pkg/function/example/forward_msg/client/

