name: Docker Publish

on:
  push:
    branches: [ main ]
    tags:
      - '*'

jobs:
  docker_publish:
    # run workflow only on numaproj/numaflow-go repository
    if: ${{ github.repository }} == "numaproj/numaflow-go"
    name: Build, Tag, and Push Image
    runs-on: ubuntu-latest

    strategy:
      matrix:
        dockerfile_paths: [
          "pkg/mapper/examples/even_odd", "pkg/mapper/examples/flatmap", "pkg/mapper/examples/forward_message",
          "pkg/mapper/examples/retry", "pkg/mapper/examples/slow_cat", "pkg/mapper/examples/tickgen", "pkg/mapstreamer/examples/flatmap_stream",
          "pkg/reducer/examples/counter", "pkg/reducer/examples/sum", "pkg/reducestreamer/examples/counter",
          "pkg/reducestreamer/examples/sum", "pkg/sessionreducer/examples/counter", "pkg/sessionreducer/examples/sum",
          "pkg/sideinput/examples/simple_sideinput/udf", "pkg/sideinput/examples/simple_sideinput", "pkg/sinker/examples/log",
          "pkg/sourcer/examples/simple_source", "pkg/sourcetransformer/examples/assign_event_time", "pkg/sourcetransformer/examples/event_time_filter",
          "pkg/sinker/examples/fallback", "pkg/sideinput/examples/map_sideinput", "pkg/sideinput/examples/reduce_sideinput",
          "pkg/sideinput/examples/sideinput_function", "pkg/sideinput/examples/simple_source_with_sideinput",
          "pkg/sideinput/examples/sink_sideinput", "pkg/sinker/examples/redis_sink", "pkg/sideinput/examples/map_sideinput/udf",
          "pkg/sideinput/examples/reduce_sideinput/udf", "pkg/batchmapper/examples/batchmap_flatmap",
          "pkg/sinker/examples/serve", "pkg/servingstore/examples/redis-store", "pkg/accumulator/examples/streamsorter", "pkg/sinker/examples/failure_sink",
          "pkg/mapper/examples/cat", "pkg/mapper/examples/filter", "pkg/sourcetransformer/examples/filter", "pkg/sourcetransformer/examples/time_extractor",
          "pkg/sourcetransformer/examples/event_time_extractor"
        ]

    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Quay.io registry
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.NUMAIO_USERNAME }}
          password: ${{ secrets.NUMAIO_PASSWORD }}
      - name: Build, tag, and push images
        run: ./hack/update_examples.sh --build-push-example ${{ matrix.dockerfile_paths }}
